<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaysyko.wrestlechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessagingActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="yM8G4t0atwmyM2372XHhb4xAqvUdUMiwKB5YCyAV" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="ySpg33jzOI3YKAQqJPJv7lfzFJMqbZlGhgtxGqg9" />

        <activity
            android:name=".EventInfoActivity"
            android:label="@string/title_activity_event_info"
            android:parentActivityName=".MessagingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jaysyko.wrestlechat.MessagingActivity" />
        </activity>
    </application>

</manifest>
