<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaysyko.wrestlechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.jaysyko.wrestlechat.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.jaysyko.wrestlechat.permission.C2D_MESSAGE" />

    <application
        android:name=".application.Initializer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MessagingActivity"
            android:label="@string/activity_messaging"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.EventListActivity"
            android:label="@string/activity_event_list"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities.EventInfoActivity"
            android:label="@string/activity_event_info"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/activity_settings"
            android:parentActivityName=".activities.EventListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jaysyko.wrestlechat.activities.EventListActivity" />
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="yM8G4t0atwmyM2372XHhb4xAqvUdUMiwKB5YCyAV" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="ySpg33jzOI3YKAQqJPJv7lfzFJMqbZlGhgtxGqg9" />

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.jaysyko.wrestlechat" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.DonateActivity"
            android:label="@string/title_activity_donate"
            android:parentActivityName=".activities.EventListActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jaysyko.wrestlechat.activities.EventListActivity" />
        </activity>
        <activity
            android:name=".activities.LegalActivity"
            android:label="@string/title_activity_legal"
            android:parentActivityName=".activities.EventListActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jaysyko.wrestlechat.activities.EventListActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="About" />
        <activity android:name=".activities.WelcomeActivity" />
        <activity android:name=".activities.UserProfileActivity" />
        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>
